version: '3.8'

services:
  web:
    build: .
    command: gunicorn basma_project.wsgi:application --bind 0.0.0.0:3115
    volumes:
      - ./media:/app/media
      - ./data:/app/data
    ports:
      - "3115:3115"
    expose:
      - 3115
    environment:
      - DEBUG=0
      - SECRET_KEY=django-insecure-prod-key-change-this-in-env
      - ALLOWED_HOSTS=basma.mosama.me,localhost,127.0.0.1
      - CSRF_TRUSTED_ORIGINS=https://basma.mosama.me
    restart: always
