@font-face {
    font-family: 'SF Arabic';
    src: local('SF Arabic'), local('SFArabic-Regular'),
        url('../fonts/SFArabic-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}